<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<div class="container-fluid">

    <header>
        <th:block th:include="~{fragments/navbar}"/>
    </header>

    <main class="mt-3">
        <div class="jumbotron bg-light">
            <div class="text-center">
                <img th:src="${product.imageUrl}" width="350" height="350" alt="Product">
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-5">
                    <h2 th:text="'Name: ' + ${product.name}"></h2>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-3">
                    <h4 th:text="'Desciption: ' + ${product.description}"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:text="'Price: ' + ${product.price}"></h4>
                </div>
            </div>
            <form th:action="@{/orders/product/{id}(id=${product.id})}" th:method="get">
                <div class="button-holder d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Order Product</button>
                </div>
            </form>
        </div>
    </main>

    <footer class="mt-3">
        <th:block th:include="~{fragments/footer}"/>
    </footer>
</div>
</body>
</html>